html {
  background-color: #9fa4b3;
}

p {
  font-size: 16pt;
  font-family: Times New Roman, sans-serif;
  margin: auto;
  padding: 10px 10%;
}

header {
margin:0;
padding:0;
}

ul {
  list-style-type: none;
  margin: 0 40px;
  min-width: 200px;
  overflow: hidden;
  background-color: rgb(0, 0, 255);
  padding: 0.5em 0;
}

li {
  float: left;
}

li a, .menu-button {
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 40px 0;
}

li a:hover, .drop-menu:hover .menu-button{
  background-color: rgb(0,255,0);
  color: black;
}

li.drop-menu {
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  border: 2px solid #0000;
  margin: 0;
  color: #0000;
  background-color: #5cdfce;
  z-index: 1;
}

.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.drop-menu:hover .menu-content {
  display: block;
}

.dropped {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0.5em;
  min-width: 7em;
}

.dropped:hover, .dropped:hover a {
  color: rgb(255, 70, 74);
  background-color: rgb(234, 170, 172);
}

img {
  background-attachment: scroll;
}

p.body {
  font-family: sans-serif;
  font-size: 16pt;
}

div.content {
  margin: auto;
  padding: 10px 10%;
  float: left;
}

.active {
  background-color: rgb(234, 170, 172);
}


.container {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  font-family: sans-serif;
  font-size: 16pt;
}

.Top-box {
  background-color: #1b2783;
  width: 59.50%;
  text-align: center;
}

.Mid-Box {
  background-color: #4365c1;
  width: 59.50%;
  text-align: center;
}

.End-Box {
  background-color: #50a8c9;
  width: 59.50%;
  text-align: center;
}

@media screen and (min-width: 1000px) {
                                        .Top-box {
                                                  width: 59.50%;
                                        }

                                        .side-box {
                                                  width: 40%;
                                        }

                                        .Mid-Box {
                                                  width: 59.50%;
                                        }

                                        .End-Box {
                                                  width: 59.50%;
                                        }
                
}

@media screen and (min-width: 500px) {
                                        .Top-box {
                                                  width: 59.50%;
                                        }

                                        .side-box {
                                                  width: 40%;
                                        }

                                        .Mid-Box {
                                                  width: 59.50%;
                                        }

                                        .End-Box {
                                                  width: 59.50%;
                                        }
}
