html {
  background-color: #9fa4b3;
}
header {
  background-color :#5cdfce;
  font-family: serif;
  font-size: 30pt;
  text-transform: uppercase;
  margin: 10px;
  height: 2em;
}
.bar {
   display: inline-block;
}
  
li{
  float: left;
}

li a, .menu {
  display: block;
  color: #e5e5e5;
  text-decoration: underline;
  margin: 10px 40px 10px;
}

li a:hover, .menu-content:hover .menu{
  background-color: #5cdfce;
  color: #e5e5e5;
}

.menu-content {
  display: none;
  position: absolute;
  border: 2px solid;
  margin: 0;
  background-color: #a3cad4;
}

.menu-content a {
  color: white;
  padding: 10px 13px;
  text-decoration: underline;
  display: block;
  text-align: left;
}

.bar: hover .menu-content {
  display: block;
}

.:hover {
  color: #a3cad4;
  background-color: #433e65;
}

.dropped:hover a {
  color: #a3cad4;
  background-color: #433e65;
}

.dropped {
  display: block;
  text-align: left;
  margin: 0;
  padding: 2em;
  min-width: 10em;
}

p.body {
font-family: sans-serif;
font-size: 20pt;
}

div.filler {
  margin: auto;
  padding: 5px;
  float: left;
}

ul {
  list-style-type: disk;
  margin: 10px 20px;
  min-width: 300px;
  background-color: #5cdfce;
  padding: 2em;
}

