html {
  background-color: #9fa4b3;
}
body {
  font-size: 16pt;
  font-family: Times New Roman, sans-serif;
}

header {
  margin:0;
  padding:0;
}
.bar {
   background-color: #5cdfce;
   margin: 0;
   padding: 0;
}
 .baritem {
   display: inline-block;
   padding: 1em 1em;
   padding-right: 3em;
   text-align: left;
   text-decoration: none;
   color: #000;
}
 .baritem:hover, .menu:hover {
   color: #fff;
   background-color: #5cdfce;
}

.menu{
  display: inline-block;
  width: 20%;
  min-width:100px;
}

.menu-content {
  display: none;
  position: absolute;
  border: 2px solid #000;
  margin: 0;
  color: #000;
  background-color: #5cdfce;
  z-index:1;
}


.menu-content a {
  color: #000;
  text-decoration: underline;
}

.menu:hover .menu-content {
  display: block;
}

.menu-item {
  display: block;
  text-align: left;
  margin: 0;
  padding: 1em;
  min-width: 10em;
}

.menu-item:hover, .menu-item:hover a {
  color: #fff;
  background-color: #5cdfce;
}

.header {
  margin:0;
  background-color: #5cdfce;
  height: 100px;
}

.About {
  float: left;
  padding: 10px;
  margin-left: 0.25em;
  font-weight: lighter;
  font-size: 2.5em;
  color: #fff;
}

