header {
  background-color :#433e65;
  font-family: serif;
  font-size: 20pt;
  text-transform: uppercase;
  margin: 10px;
  height: 2em;
}

img {
  backgroung-attachment : scroll;
}


ul {
  list-style-type:disk;
  margin: 0 30px;
  min-width: 150px;
  overflow: hidden;
  background-color: #1a1649;
  padding: 2em 0;
}

li{
  float: right;
}

li a, .dropbutton {
  display: block;
  color: #4c7a87;
  text-decoration: underline;
  margin: 10px 40px 10px;
}

li a:hover, .drop-menu:hover .dropbutton{
  background-color: #a3cad4;
  color: black;
}

li.drop-menu{
  display: inline-block;
}

.drop-content {
  display: none;
  position: absolute;
  border: 2px solid;
  margin: 0;
  background-color: #a3cad4;
}

.drop-content a {
  color: white;
  padding: 10px 13px;
  text-decoration: underline;
  display: block;
  text-align: left;
}

.drop-menu: hover .drop-content {
  display: block;
}

.dropped:hover {
  color: #a3cad4;
  background-color: #433e65;
}

.dropped:hover a {
  color: #a3cad4;
  background-color: #433e65;
}

.dropped {
  display: block;
  text-align: left;
  margin: 0;
  padding: 2em;
  min-width: 10em;
}

p.body {
font-family: sans-serif;
font-size: 20pt;
}

div.content {
  margin: auto;
  padding: 5px;
  float: left;
}

.active {
  background-color: #617695
}
