html {
  background-color: #9fa4b3;
}
p {
  font-size: 16pt;
  font-family: Times New Roman, sans-serif;
  margin: auto;
  padding: 10px 10%
}

header {
  margin:0;
  padding:0;
}
ul {
  list-style-type: none;
  margin: 0 40px;
  min-width: 100px;
  overflow: hidden;
  background-color: rgb(28, 109, 25);
  padding: 0.5em 0;
}
li {
  float:left;
}
li a, .menu-button {
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 40px 0;
}
li a:hover, .drop-menu:hover .menu-button{
  background-color: rgb(178, 40, 193);
  color: black;
}
li.drop-menu {
  display: inline-block;
}
.menu-content {
  display: none;
  position: absolute;
  border: 2px solid #0000;
  margin: 0;
  color: #0000;
  background-color: #5cdfce;
  z-index:1;
}
.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.drop-menu:hover .menu-content {
  display: block;
}
.dropped {
  display:block;
  text-align: left;
  margin: 0;
  padding: 2em;
  min-width: 5em;
}
img {
  background-attachment: scroll;
}
p.body {
  font-family: sans-serif;
  font-size: 16pt;
}
div.content {
  margin: auto;
  padding 10px 10%;
  float: left;
}
.active {
  background-color: rgb(234, 170, 172);
}
